# Compiled binaries
http-server
mdb-lookup-server
http-client
mdb-add
mdb-lookup

# Debug artifacts
*.dSYM/
*.dSYM/**
*.d

# Python artifacts
__pycache__/
*.pyc

# Data files
data/mydb
api/directory.db

# Editor files
.vscode/
.idea/
*.yml

# OS artifacts
.DS_Store
__MACOSX/
